# Python
__pycache__/
*.pyc

# Virtual Env
venv/

# Django
db.sqlite3

# VSCode
.vscode/

# Env
.env
.envs

# Node
node_modules/

# Build
dist/
build/

# Media / Uploads
core/media/

# Images & PDFs
*.pdf
*.png
*.jpg
*.jpeg

# OS
.DS_Store
Thumbs.db