# Python
__pycache__/
*.pyc

# Virtual Env
venv/
.venv/

# Django
db.sqlite3
core/db.sqlite3
core/staticfiles/

# VSCode
.vscode/

# Env
.env
.envs
core/.env

# Node
node_modules/
frontend/node_modules/

# Build
dist/
build/
frontend/dist/

# Media / Uploads
media/
core/media/

# Images & PDFs
*.pdf
#*.png
*.jpg
*.jpeg

# OS
.DS_Store
Thumbs.db