# OCR API Key
OCR_API_KEY=YOUR_OCR_API_KEY

# Django Secret Key
SECRET_KEY=YOUR_DJANGO_SECRET_KEY

DEBUG=True

# =========================
# DATABASE
# =========================

USE_POSTGRES=False

DB_NAME=homecostmanager
DB_USER=postgres
DB_PASSWORD=your_password
DB_HOST=localhost
DB_PORT=5432